#login-field, #password-field {
    width: 10em;
}

#footer {
    border-top: 2px solid #dddddd;
    padding: 10px 5px 10px 5px;
    margin: 20px 0px 20px 0px;
}

#sprintnotes textarea {
    width: 100%;
}

.container {
    width: 1000px;
}

.keep-whole,
th {
    white-space: nowrap;
}

#bug-table {
    width: 100%;
}

#bug-table tr {
    /* Tables are weird. This is equivalent to min-height, because a table always stretches. */
    height: 48px;
}

#bug-table tr.closed > td,
#bug-table tr.closed > td {
    background-color: #dff0d8;
}

#bug-table tr.mine td.summary:before {
    content: "»";
    float: left;
    font-size: 1.75em;
    margin-right: -2em;
    transform: translate(-22px, 0px);
}

#bug-table td.assigned img {
    border-radius:5px;
    float:left;
    margin-right: 5px;
}

.loading {
    position: fixed;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: #000;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    transition: opacity 0.2s;
}

.loading.transparent {
    opacity: 0;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
