# Flask webapp scaffolding
Flask==0.10.1
Flask-Script==0.6.2
Flask-SQLAlchemy==1.0
Flask-SSLify==0.1.4
alembic==0.6.0
pytz==2013.6
requests==2.0.0

# For command line tools
prettytable==0.7.2

# For heroku hosting
gunicorn==19.2.1
psycopg2==1.1.21
