{% extends "base.html" %}
{% block content %}
  <div id="content">
    <h1>Sprint: {{ sprint.name }}
      {% if not bugs_with_no_points %}
        {% if closed_points == total_points %}
          <span class="label label-success">SUCCESS! ☺</span>
        {% elif closed_points > (total_points / 2.0) %}
          <span class="label label-info">Almost there... Work faster! ⛏</span>
        {% endif %}
      {% endif %}
    </h1>

    <div class="row">
      <div class="span6">
        <dl class="dl-horizontal">
          <dt>Last refresh</dt>
          <dd>{{ last_load|df('%m-%d-%Y %H:%M') }}</dd>

          <dt>Most recent last updated</dt>
          <dd>{{ latest_change_time|df('%m-%d-%Y %H:%M') }}</dd>

        </dl>
      </div>
      <div class="span6">
        <dl class="dl-horizontal">
          {% if bugs_with_no_points %}
            <dt class="text-error">Bugs with no points</dt>
            <dd class="text-error">{{ bugs_with_no_points }}</dd>
          {% endif %}
          <dt>Total points</dt>
          <dd>{{ total_points }}</dd>

          <dt>Points completed</dt>
          <dd>{{ closed_points }} / {{ total_points }}</dd>
        </dl>
      </div>
    </div>

    <table id="bug-table" class="table-striped table-condensed">
      <tr>
        <th>ID</th>
        <th>Pri</th>
        <th>summary</th>
        <th>last updated</th>
        <th>depends on</th>
        <th>status</th>
        <th>points</th>
      </tr>
      {% for bug in bugs %}
        <tr class="bug-row bug-row-{{ bug.status.lower() }}">
          <td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug.id }}">{{ bug.id }}</a></td>
          <td>{{ bug.priority }}</td>
          <td>
            {% if bug.securitygroup %}
              <span class="label label-important">SECURE</span>
            {% endif %}
            {% if bug.confidentialgroup %}
              <span class="label label-important">CONFIDENTIAL</span>
            {% endif %}
            {% if bug.needinfo %}
              <span class="label label-warning" title="{{ bug.needinfo }}">NEEDINFO</span>
            {% endif %}
            {% if bug.depends_on %}
              <span class="label label-important" title="{{ bug.depends_on }}">BLOCKED</span>
            {% endif %}
            {{ bug.summary }}
            {% for flag in bug.whiteboardflags %}
              <span class="label">{{ flag }}</span>
            {% endfor %}
          </td>
          <td>{{ bug.last_change_time|df('%m-%d-%Y %H:%M') }}</td>
          <td>
            {% for blocker in bug.depends_on %}
              <a href="http://bugzilla.mozilla.org/show_bug.cgi?id={{ blocker }}">{{ blocker }}</a>
            {% endfor %}
          </td>
          <td>{{ bug.status }}</td>
          <td>{{ bug.points }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock content %}
{% block js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/ernest-bugs.js') }}"></script>
{% endblock js %}
