{% extends "base.html" %}
{% block content %}
<div id="content">
  <h1>Sprint: {{ sprint }}</h1>
  <dl class="dl-horizontal">
    <dt>Last load time</dt>
    <dd>{{ last_load|df('%m-%d-%Y %H:%M') }}</dd>

    <dt>Most recent updated bug</dt>
    <dd>{{ latest_change_time|df('%m-%d-%Y %H:%M') }}</dd>

    <dt>Bugs with no points</dt>
    <dd>{{ bugs_with_no_points }}</dd>

    <dt>Completion</dt>
    <dd>{{ closed_points }} out of {{ total_points }}</dd>
  </dl>

  <table id="bug-table" class="table-striped table-condensed">
    <tr>
      <th>ID</th>
      <th>summary</th>
      <th>last updated</th>
      <th>depends on</th>
      <th>status</th>
      <th>points</th>
    </tr>
    {% for bug in bugs %}
      <tr class="bug-row bug-row-{{ bug.status.lower() }}">
        <td><a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bug.id }}">{{ bug.id }}</a></td>
        <td>
          {% if bug.securitygroup %}
            <span class="label label-important">SECURE</span>
          {% endif %}
          {% if bug.confidentialgroup %}
            <span class="label label-important">CONFIDENTIAL</span>
          {% endif %}
          {% if bug.needinfo %}
            <span class="label label-warning" title="{{ bug.needinfo }}">NEEDINFO</span>
          {% endif %}
          {% if bug.depends_on %}
            <span class="label label-important" title="{{ bug.depends_on }}">BLOCKED</span>
          {% endif %}
          {{ bug.summary }}
          {% for flag in bug.whiteboardflags %}
            <span class="label">{{ flag }}
          {% endfor %}
        </td>
        <td>{{ bug.last_change_time|df('%m-%d-%Y %H:%M') }}</td>
        <td>
          {% for blocker in bug.depends_on %}
            <a href="http://bugzilla.mozilla.org/show_bug.cgi?id={{ blocker }}">{{ blocker }}</a>
          {% endfor %}
        </td>
        <td>{{ bug.status }}</td>
        <td>{{ bug.points }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
{% block js %}
  {{ super() }}
  <script src="{{ url_for('static', filename='js/ernest-bugs.js') }}"></script>
{% endblock js %}
