<div id="content">
  <ul class="breadcrumb">
    <li><a ng-href="/">Home</a> <span class="divider">/</span></li>
    <li><a ng-href="/projects">Projects</a> <span class="divider">/</span></li>
    <li class="active">{{project.name}}</li>
  </ul>

  <h1>{{project.name}}</h1>
  <h2>Sprints</h2>

  <div ng-show="is_admin">
    <div ng-include="'/partials/sprint-new.html'"></div>
  </div>

  <table id="bug-table" class="table-striped table-condensed">
    <tr>
      <th class="name">Name</th>
      <th class="start">Start date</th>
      <th class="end">End date</th>
      <th class="notes">Notes</th>
      <th class="postmortem">Postmortem</th>
    </tr>

    <tr class="bug-row" ng-class="{current: sprint.current}" ng-repeat="sprint in sprints | orderBy:'start_date':true">
      <td class="name">
        <a ng-href="{{sprint.url}}">{{sprint.name}}</a>
      </td>
      <td class="start">
        {{sprint.start_date|date:"M-d-yyyy"}}
      </td>
      <td class="end">
        {{sprint.end_date|date:"M-d-yyyy"}}
      </td>
      <td class="notes">
        {{sprint.notes}}
      </td>
      <td class="postmortem">
        {{sprint.postmortem}}
      </td>
    </tr>
  </table>

  <h2>Trackers</h2>
  <table id="bug-table" class="table-striped table-condensed">
    <tr>
      <th class="id">
        ID
        <sort-toggle name="bugSortBy" value="id" />
      </th>
      <th class="target_milestone">
        Milestone
        <sort-toggle name="bugSortBy" value="target_milestone" />
      </th>
      <th class="priority">
        Pri
        <sort-toggle name="bugSortBy" value="priority" />
      </th>
      <th class="summary">
        Summary
        <sort-toggle name="bugSortBy" value="summary" />
      </th>
      <th class="updated">
        Last updated
        <sort-toggle name="bugSortBy" value="last_change_time" />
      </th>
    </tr>

    <tr class="bug-row" ng-repeat="bug in trackers | orderBy:bugSort:bugSortBy.reverse">
      <td class="id">
        <span class="keep-whole">
          <a ng-href="{{bug.url}}">{{bug.id}}</a>
          /
	      <a href="{{bug.details_url}}">Details</a>
        </span>
      </td>
      <td class="target_milestone">
	{{bug.target_milestone}}
      </td>
      <td class="priority">
        {{bug.priority}}
      </td>
      <td class="summary">
        <span class="label label-important" ng-show="bug.securitygroup">SECURE</span>
        <span class="label label-important" ng-show="bug.confidentialgroup">CONFIDENTIAL</span>
        <span class="label label-warning" ng-show="bug.needinfo">
          NEEDSINFO
          <span ng-repeat="person in bug.needinfo">{{person.username}} </span>
        </span>
        <span class="label label-important" ng-show="bug.is_blocked">
          BLOCKED
          <a ng-repeat="blocker in bug.open_blockers" ng-href="{{blocker.url}}">{{blocker.id}}</a>
        </span>
        <span class="muted">{{bug.component}}</span>
        {{bug.summary}}
        <span class="label" ng-repeat="flag in bug.whiteboardflags">{{flag}}</span>
      </td>
      <td class="updated">
        {{bug.last_change_time|date:"M-d-yyyy H:mm"}}
      </td>
    </tr>
  </table>

  <div ng-show="is_admin">
    <h2>(Admin-only) Project details:</h2>
    <ng-form>
      <label for="name">Project name:</label>
      <input name="name" ng-model="project.name">

      <label for="githubowner">Github owner:</label>
      <input name="githubowner" ng-model="project.github_owner">

      <label for="githubrepo">Github repo:</label>
      <input name="githubrepo" ng-model="project.github_repo">

      <button class="btn btn-primary" ng-click="updateProject()">Save</button>
    </ng-form>
  </div>

</div>
