<div id="content">
  <ul class="breadcrumb">
    <li><a ng-href="/">Home</a> <span class="divider">/</span></li>
    <li><a ng-href="/projects">Projects</a> <span class="divider">/</span></li>
    <li><a ng-href="/project/{{project.slug}}">{{project.name}}</a> <span class="divider">/</span></li>
    <li class="active">{{sprint.name}}</li>
  </ul>

  <div class="row">
    <div class="span6">
      <span class="pull-left" ng-show="prev_sprint">
        <a href="{{ prev_sprint.url }}">PREV: {{ prev_sprint.name }}</a>
      </span>
    </div>

    <div class="span6">
      <span class="pull-right" ng-show="next_sprint">
        <a href="{{ next_sprint.url }}">NEXT: {{ next_sprint.name }}</a>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="span6">
      <h2>
        Sprint: {{sprint.name}}
      </h2>
      <p>
        <span ng-switch="completionState">
          <span class="label label-info" ng-switch-when="almost">
            Almost there... Work faster! ⛏
          </span>
          <span class="label label-success" ng-switch-when="done">
            SUCCESS! ☺
          </span>
        </span>
      </p>
    </div>

    <div class="span6">
      <dl class="dl-horizontal">
        <dt>Duration</dt>
        <dd>{{sprint.start_date|date:"M-d-yyyy"}} to {{sprint.end_date|date:"M-d-yyyy"}}</dd>

        <dt>Last refresh</dt>
        <dd>{{last_load|date:"M-d-yyyy H:mm"}}</dd>

        <dt>Last bug change</dt>
        <dd>{{latest_change_time|date:"M-d-yyyy H:mm"}}</dd>

        <dt>Bugs resolved</dt>
        <dd>{{ closed_bugs }} / {{ total_bugs }}</dd>

        <dt>Points completed</dt>
        <dd>{{ closed_points }} / {{ total_points }}</dd>

        <span ng-show="bugs_with_no_points">
          <dt class="text-error">Bugs with no points</dt>
          <dd class="text-error">{{ bugs_with_no_points }}</dd>
        </span>
      </dl>
    </div>
  </div>

  <div id="operations" class="container" ng-show="bugs">
    <div class="btn-toolbar pull-right">
      <div class="btn-group">
        <a ng-show="sprint.buglist_open_url" class="btn" href="{{ sprint.buglist_open_url }}">See Open in Bugzilla</a>
        <a ng-show="sprint.buglist_all_url" class="btn" href="{{ sprint.buglist_all_url }}">See All in Bugzilla</a>
      </div>
      <div class="btn-group">
        <a class="btn" ng-click="changeShowHideClosed()">{{ show_hide_closed }}</a>
        <a class="btn" ng-click="changeShowHideNonStarred()">{{ show_hide_non_starred }}</a>
        <a class="btn" ng-click="refresh()">Refresh now <i class="icon-refresh"></i></a>
        <a class="btn" ng-click="changeEnabledAutoRefresh()">{{ enable_disable_auto_refresh }}</a>
      </div>
    </div>
  </div>

  <table id="bug-table" class="table-striped table-condensed" ng-show="bugs">
    <tr>
      <th class="star">
        Star
        <sort-toggle name="bugSortBy" value="star" />
      </th>
      <th class="id">
        ID
        <sort-toggle name="bugSortBy" value="id" />
      </th>
      <th class="priority">
        Pri
        <sort-toggle name="bugSortBy" value="priority" />
      </th>
      <th class="summary">
        Summary
        <sort-toggle name="bugSortBy" value="summary" />
      </th>
      <th class="assigned">
        Assigned to
        <sort-toggle name="bugSortBy" value="assigned_to" />
      </th>
      <th class="updated">
        Last updated
        <sort-toggle name="bugSortBy" value="last_change_time" />
      </th>
      <th class="status">
        Status
        <sort-toggle name="bugSortBy" value="status" />
      </th>
      <th class="points">
        Pts
        <sort-toggle name="bugSortBy" value="points" />
      </th>
    </tr>

    <tr class="bug-row" ng-class="{mine: bug.mine, closed: isClosed(bug), jeopardywarning: isJeopardyWarning(bug), jeopardyerror: isJeopardyError(bug)}" ng-repeat="bug in bugs | filter:bugFilter | orderBy:bugSort:bugSortBy.reverse">
      <td class="star">
        <input type="checkbox" ng-model="bug.star" name="star{{bug.id}}" ng-true-value="1" ng-false-value="0"  ng-change="changeStar()">
      </td>
      <td class="id">
        <span class="keep-whole">
          <span ng-show="isClosed(bug)"><i class="icon-ok"></i></span>
          <a ng-href="{{bug.url}}">{{bug.id}}</a>
        </span>
      </td>
      <td ng-class="{mine: bug.mine}" class="priority">
        {{bug.priority}}
      </td>
      <td class="summary">
        <span class="label label-important" ng-show="bug.securitygroup">SECURE</span>
        <span class="label label-important" ng-show="bug.confidentialgroup">CONFIDENTIAL</span>
        <span class="label label-warning" ng-show="bug.needinfo">
          NEEDSINFO
          <span ng-repeat="person in bug.needinfo">{{person.username}} </span>
        </span>
        <span class="label label-important" ng-show="bug.is_blocked">
          BLOCKED
          <a ng-repeat="blocker in bug.open_blockers" ng-href="{{blocker.url}}">{{blocker.id}}</a>
        </span>
        <span class="muted">{{bug.component}}</span>
        {{bug.summary}}
        <span class="label" ng-repeat="flag in bug.whiteboardflags">{{flag}}</span>

      </td>
      <td class="assigned">
        <span ng-if="bug.gravatar_url">
          <img ng-src="{{bug.gravatar_url}}" />
        </span>
        <span ng-show="bug.assigned_to.real_name">
          {{bug.assigned_to.real_name}}
        </span>
      </td>
      <td class="updated">
        {{bug.last_change_time|date:"MM-dd-yyyy"}}
      </td>
      <td class="status">
        <a ng-repeat="pull in bug.pulls" ng-href="{{pull.url}}">PR-{{pull.number}}</a>
        <span ng-hide="bug.pulls">
          {{bug.status}}
        </span>
      </td>
      <td class="points">
        <span ng-show="isEstimated(bug.points)">{{bug.points}}</span>
        <span ng-hide="isEstimated(bug.points)" class="label label-important">None</span>
      </td>
    </tr>
  </table>

  <div class="row" ng-show="bugs">
    <div class="span4">
      <h3>Priority breakdown:</h3>
      <table class="table-striped table-condensed">
        <tr ng-repeat="pri in priority_breakdown">
          <td>{{pri.priority}}</td>
          <td>{{pri.count}}</td>
        </tr>
      </table>
    </div>
    <div class="span4">
      <h3>Points breakdown:</h3>
      <table class="table-striped table-condensed">
        <tr ng-repeat="point in points_breakdown">
          <td>{{point.num}}</td>
          <td>{{point.count}}</td>
        </tr>
      </table>
    </div>
    <div class="span4">
      <h3>Component breakdown:</h3>
      <table class="table-striped table-condensed">
        <tr ng-repeat="comp in component_breakdown">
          <td>{{comp.name}}</td>
          <td>{{comp.count}}</td>
        </tr>
      </table>
    </div>
  </div>
  <div ng-show="bugs">
    <p>Note: It'd be nice if these were pie charts.</p>
  </div>

  <div ng-show="nobugs">
    <h4>There are no bugs in this sprint.</h4>
  </div>

  <div id="sprintnotes">
    <div class="container">
      <h3>Notes:</h3>
      <pre>{{sprint.notes}}</pre>
      <h3>Post mortem:</h3>
      <pre>{{sprint.postmortem}}</pre>
      <p>Note: Project admin can update the notes and postmortem.</p>
    </div>

    <div ng-show="is_admin">
      <h2>(Admin-only) Edit sprint:</h2>
      <ng-form>
        <label for="sprintstart">Start date (YYYY-MM-DD):</label>
        <input name="sprintstart" ng-model="sprint.start_date" placeholder="Start date (YYYY-MM-DD)">

        <label for="sprintend">End date (YYYY-MM-DD):</label>
        <input name="sprintend" ng-model="sprint.end_date" placeholder="End date (YYYY-MM-DD)">

        <label for="sprintnotes">Notes:</label>
        <textarea id="sprintnotes" name="notes" ng-model="sprint.notes"></textarea>

        <label for="sprintpostmortem">Post mortem:</label>
        <textarea id="sprintpostmortem" name="postmortem" ng-model="sprint.postmortem"></textarea>

        <button type="btn btn-primary" ng-click="updateSprint()">Save</button>
      </ng-form>
    </div>
  </div>
</div>
